html, body {
	font-family: "open sans","Helvetica Neue",Helvetica, sans-serif;
	background-color: #f3f3f4;
	color: #676a6c;
	height: 100%;
	width: 100%;
}

.valign-top {
	vertical-align: top;
}


#side-menu {
	background-color: #2f4050;
	margin: 0px;
	padding: 0px;
}

#side-menu h1 {
	margin: 10px 0px;
	text-align: center;
	color: #e7eaec;
	font-size: 25px;
}

.display-table {
	display: table;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.display-table-row {
	display: table-row;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	height: 100%;
	float: none;
}

/*side menu*/
#nav-header {
	background: #fff;
	border-bottom: 1px solid #e7eaec;
}

#nav-header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#nav-header ul li {
	float: left;
	margin-left: 15px;
	padding: 15px 0px;
	color: #676a6c;
}

.logout, .logout:hover {
	color: #676a6c;
	text-decoration: none;
}

.text-example {
	padding-top: 15px;
}

#side-menu ul {
	margin: 0px;
	padding: 0px;
}

#side-menu ul li a {
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color: #9fb1c2;

}

#side-menu ul li a:hover {
	background-color: #293846;
	color: #fff;
}

#side-menu ul li .glyphicon {
	margin-right: 10px;
}

.active-link {
	background-color: #293846;
	color: #fff;
	border-left: 3px solid #fff;
}

.profil {
	width: 100px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.profil img {
	border: 2px solid #e7eaec;
}

/*end side menu*/

/*button toggle*/
.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	background-color: #1ab394;
	border: 1px solid #1ab394;
}

.navbar-default .navbar-toggle:hover {
	background-color: #1ab394;
	border: 1px solid #1ab394;
}

.navbar-default .navbar-toggle:focus {
	background-color: #1ab394;
	border: 1px solid #1ab394;
}

.navbar-default .navbar-toggle .icon-bar {
	border: 1px solid #fff;
}
/*end button toggle*/

/*content dashboard data*/
#dashboard-con {
	margin-top: 20px;
}

#dashboard-con table th , #dashboard-con table td{
	font-size: 14px;
}

#dashboard-con .dashboard-content {
	background-color: #fff;
	padding: 15px;
	border-top: 4px solid #eee;
}

#dashboard-con .dashboard-content header {
	border-bottom: 1px solid #e7eaec;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
/*end content dashboard data*/

/*content form*/
#content {
	margin-top: 20px;
	background-color: #fff;
	padding: 15px;
	border-top: 4px solid #eee;
}

#content .content-inner {
	padding: 50px;
}

#content .form-wrapper {
	background-color: #eee;
	padding: 30px;
	border-radius: 5px;
}

#content header {
	border-bottom: 1px solid #e7eaec;
	padding-bottom: 20px;
}
/*end content form*/

/*footer*/
#admin-footer {
	position: absolute;
	width: 100%;
	background-color: #fff;
	bottom: 0px;
	padding: 15px;
	margin-top: 100px;
	}

/*end footer*/

/*search*/
#search-field {
	width: 300px;
	padding: 6px;
	border: 1px solid #eee;
	margin: 10px 0px 10px 0px;
	border-radius: 5px;
}
/*end search*/

/*pop up (alert)*/
.pop_up {
	padding-top: 20px;
}

.separated {
	margin-bottom: 120px;
}
/*endpop up (alert)*/
